body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #6fd6ad;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}
img {
  width: 200px;
  border-radius: 10px;
}
