body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  color: red;
}
h2 {
  color: rgba(0, 145, 255, 0.699);
}

p {
  color: #555;
  line-height: 1.6;
}
#main-title {
  font-size: 32px;
}
img {
  width: 200px;
  border-radius: 8px;
}
